@import './base.css';
.ant-layout{
  background: none !important;
}

#app{
  display: flex;
  flex-direction: column;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;

}

.mt-2{
  margin-top: 4px;
}
.mt-4{
  margin-top: 8px;
}

.my-text-center{
  text-align: center;
  color: white;
}
